<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form id="form" class="medium-form">
            <h2>Player information</h2>
            <label for="name">Name:  </label>
            <input type="text" name="name" id="name" >
            <label for="dateOfBirth">Date of Birth:  </label>
            <input type="date" name="dateOfBirth" id="dateOfBirth" >
            <label for="photoUrl">Photo url:  </label>
            <input type="url" name="photoUrl" id="photoUrl" >
            <label for="birthPlace">Birth Place:  </label>
            <input type="text" name="birthPlace" id="birthPlace" >
            <label for="career">career:  </label>
            <input type="text" name="career" id="career" >
            <label for="matches">No of matches:  </label>
            <input type="number" name="matches" id="matches" >
            <label for="score">score:  </label>
            <input type="number" name="score" id="score" >
            <label for="fifties">fifties:  </label>
            <input type="number" name="fifties" id="fifties" >
            <label for="centuries">centuries:  </label>
            <input type="number" name="centuries" id="centuries" >
            <label for="wickets">wickets:  </label>
            <input type="number" name="wickets" id="wickets" >
            <label for="average">average:  </label>
            <input type="number" name="average" id="average" >
             <button id="submit" type="submit">submit</button>

             <label for="searchPlayer"> </label>
             <input type="text" id="searchPlayer"  placeholder="seach player" class="searchPlayer">
             <button id="searchButton" type="button">search</button>
            <ul id="details"></ul>
    </form>
    <link rel="stylesheet" href="styles.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.5.1/axios.min.js"></script>
    <script src="script.js"></script>
</body>
</html>